.sticky {
    width: 20vw;
    height: 25vh;
    border-radius: 7px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: auto;
    transition: .2s;

    &:hover{
    box-shadow: 5px 20px 6px 0px rgba(0, 0, 0, 0.1);
    scale: 1.1;
    }
}


.note {
    font-family: "segoe UI";
    background-color: inherit;
    
    &-title {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    color: black;
    background-color: inherit;
    }

    &-text {
    font-weight: 100;
    font-size: 16px;
    color: black;
    margin: 0 15px;
    background-color: inherit;
    }
}



  
.back-yellow {
    background-color: #FFF951;
}
.back-green {
    background-color: #84D15F;
}
.back-orange {
    background-color: #E9AC51;
}