.plus {
    width: 50px;
    cursor:pointer;
    transition: all .3s ease 0s;
    height: 50px;
    background: #FFF951;
    border-radius: 50%;
    display: flex;
    position: relative;
    &__line {
      width: 4px;
      height: 25px;
      background: #000;
      border-radius:10px;
      position: absolute;
      left: calc(50% - 2.5px);
      top: calc(50% - 13px);
      &--h {
        transform: rotate(90deg);
      } 
      &--v {
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
         transition: all .4s ease 0s;
      }
    }
    &__link {
      color: #fff;
      font-size: 30px;
      opacity: 0;
      visibility: hidden;
      transition : .3s ease 0s;
      transform:scale(.5);
    }
    &--active {
      height:32px;
      border-radius:30px;
      .plus__line--v {
        height: 32vh;
        top: calc(-100% - 30vh);
        padding:0 30px;
        box-sizing:border-box;
        width: 3vw; 
        border-radius: 60px;
        left: calc(50% - 30px);
        flex-direction: column;
      }
      .plus__link{
        opacity:1;
        visibility:visible;
        transform:scale(0.8);
        transition-delay: .05s;
      }
    }
}

.btn-position{
    position: fixed;
    top: 86vh;
    right: 6vw;
}