.new-text{
    position: relative;
    resize: none;
    background-color: inherit;
    margin: 25px 5%;
    height: 50vh;
    width: 90%;
    border: none;
    color: #222222;
    
    &::placeholder{
        color: #222222;
        font-family: "segoe UI";
    }
}

.create-text{
    background-color: inherit;
}

