.new-text{
    resize: none;
    background-color: #E9AC51;
    margin: 25px 5%;
    height: 250px;
    width: 90%;
    border: none;
    color: #222222;
    
    &::placeholder{
        color: #222222;
        font-family: "segoe UI";
    }
}

.create-text{
    background-color: #E9AC51;
}