.note-creation{
    width: 70%;
    height: 75vh; 
    margin: 7% 15%;
    border-radius: 10px;
}
.back-yellow {
    background-color: #FFF951;
}
.back-green {
    background-color: #84D15F;
}
.back-orange {
    background-color: #E9AC51;
}